body{
    @import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap');
    
    @include font-base;
    line-height: 1.6;

    display: grid;
    grid-template-rows: 10em 50vh auto 10em;
    grid-template-columns: 1fr 5fr 2fr 1fr;
    grid-template-areas: "header header header header"
    "following following following following"
    ". main sidebar ."
    "footer footer footer footer";
}

header{
    grid-area: header;
    
}


header,
footer{
    background-color: #4267B2;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.header-title
    

.footer-title {
    
    font-family:Merriweather ;
    background: #4267B2;
}

.following{
    grid-area: following;
    background: url(https://cdn.wallpapersafari.com/31/2/AvbLiU.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    margin: 0;
}

main{
    grid-area:main;
}

aside{
    grid-area: sidebar;
    background-color: #f7f7f7;
    
}

footer{
    grid-area:footer;
}

.drop-zone{
    width: 300px;
    height: 200px;
    float: left;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px dashed mediumspringgreen
}

.drop-zone{
    border: 2px dashed  #3b5998;
    height: 500px;
    width: 700px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drop-zone header {
    background-color:#dfe3ee ;
    font-size: 30px;
    font-weight: 500;
    color:  #3b5998;
}
.drop-zone span{
    font-size:  25px;
    font-weight: 500;
    color:  #3b5998;
    font-family: sans-serif;
    margin: 10px 0 15px 0;
}

.drop-zone .pic{
    font-size: 100px;
    color: #3b5998;

}

.drop-zone__button{
    -webkit-appearance: none;
    background:  #3b5998;
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 10px 25px;
    margin-right: 15px;
    color:white;
    font: size 1em;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
    
}

.drop-zone--over{
    border: 2px solid #3b5998;
    }

.drop-zone__submit{
    background: #3b5998;
    color: white;
    border: none;
    border-radius: 4px;
    margin-right: 15px;
    font: size 1em;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 25px;
    font-size: 20px;
    -webkit-appearance: none;
    margin: 20px 0 15px 0;
}

.file-submission{

    display: inline-flex;
    align-items: center;
    font-size: 15px;
}

.file-upload__input{

    display: none;
}



.file-upload__button:active{
    background: darkblue;
}

.file-upload__text{
    max-width: 200px;
    font-size: 0.95em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.divider{
    height: 40px;
}



.drop-zone__image{
   width: 100%;
   height: 100%;
   border-radius: 10px;
   overflow: hidden;
   background-color: gainsboro;
   background-size: cover;
   position: relative;
} 

.drop-zone__image::after{
    content: attr(data-text);
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: ghostwhite;
    background: black;
    font-size: 14px;
    text-align: center;


}




